package components

templ ErrorMessage(msg string) {
	<section class="bg-red-400 border-2 border-red-600 rounded p-2 flex items-center justify-start gap-1">
        <span class="text-4xl text-white font-semibold">&#9888;</span>
		<p class="text-white">{ msg }</p>
	</section>
}
