package web

import "github.com/coryo12345/easy-deploy/web/components"

templ MonitorPage() {
    @Base() {
        <main class="text-center">
            <p class="text-red-500">homepage</p>
            @components.Button(templ.Attributes{
                "class": "bg-slate-700 text-white",
                "hx-post": "/logout",
            }) {
                Logout
            }
        </main>
    }
}